<header class="header-container">
    <nav class="header-nav">
        <a class="header-title" href="/">NodeBurgers</a>
        <ul>
            <li><a href="/">Menu</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/burgers/create">New Burger</a></li>
        </ul>
    </nav>
</header>