<nav>
    <div class="site-title">
        <a href="/">
            <h1>NodeBurgers</h1>
        </a>
        <p>Original Bartz94 burgers</p>
    </div>
    <ul>
        <li><a href="/">Menu</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Burger</a></li>
    </ul>
</nav>