<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="main-container">
                <h2 class="main-title">About Our Burgers</h2>
                <p class="info-text">They're delicious :)</p>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>