form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

form>label {
    font-size: 26px;
}

form>input {
    font-size: 26px;
}

.create-button {
    appearance: none;
    background-color: crimson;
    border: 1px solid red;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.create-button:disabled {
    pointer-events: none;
}

.create-button:hover {
    box-shadow: rgb(235, 62, 96) 0 5px 5px;
    transform: translateY(-2px);
}

.create-button:active {
    box-shadow: none;
    transform: translateY(0);
}